<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace 命名空间  唯一的 -->
<mapper namespace="com.qy.mapper.AreaEntityMapper">
    <!--查询 id：唯一 在当前命名空间唯一 给当前sql语句起名 -->
    <!--resultType 指定返回结果集对应的实体类类型  -->
    <select id="selectAreaEntity" resultType="com.qy.domain.AreaEntity" >
        select * from area where id = #{id}
    </select>

    <!--返回一个List<AreaEntity>-->
    <select id="selectAll" resultType="AreaEntity">
        select * from area
    </select>

    <!--新增一个地区-->
    <insert id="insertAreaEntity" parameterType="AreaEntity">
        insert into area(id,code,name,citycode)
        values (#{id},#{code},#{name},#{citycode})
    </insert>

    <!--更新一个地区-->
    <update id="updateAreaEntity" parameterType="AreaEntity">
        update area set name=#{name} where id=#{id}
    </update>

    <!--删除一个地区-->
    <delete id="deleteAreaEntity" >
        delete from area where id=#{id}
    </delete>
</mapper>